*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    display: flex;
    height: 100%;
    width: 100%;
}

.left{
    position: relative;
    width: 45%;
    height: 100%;
}

.right{
    position: relative;
    width: 100%;
    height: 100%;
    
}

.right-top{
    display: flex;
    width: 100%;
    height: 50%;
   
}

.right-left{
    width: 50%;
    height: 100%;
    background-image: url(https://images.pexels.com/photos/820905/pexels-photo-820905.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}
.right-right{
    width: 50%;
    height: 100%;
    background-image: url(https://images.pexels.com/photos/2090902/pexels-photo-2090902.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}

.right-bottom{
    width: 100%;
    height: 50%;
    background-image: url(https://images.pexels.com/photos/327098/pexels-photo-327098.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}

.nav{
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav i{
    padding: 10px 10px;
}

.nav-a a{
    color: black;
    text-decoration: none;
    margin-left: 50px;
    justify-content: space-evenly;
}

.nav-a .instagram{
    margin-right: 10px;
}

.nav-a{
    
    font-size: 16px;
    display: flex;
    align-items: center;
}

.nav-a i{
    color: #EF01B7;
    margin-left: 20px;
}

.textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.textcenter h1{
    font-size: 90px;
    font-weight: 600;
}

.textcenter p{
    font-size: 16px;
    opacity: .6;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.textcenter a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    font-size: 14px;
}



button{
    position: absolute;
    display: flex;
    bottom: 0;
    height: 20px;
    width: 20px;
    font-size: 20px;
    left: 50%;
    justify-content: center;
    align-items: center;
    mix-blend-mode: multiply;
    border: none;
}




.oranges
{
    display: none;
    position: absolute;
    opacity: 0.3;
}

@media (max-width: 500px){
    .main{
        flex-direction: column;
    }

    .left{
        width: 100%;
    }

    .right{
        width: 100%;
    }

    button{
        position: absolute;
        display: flex;
        bottom: 0;
        left: 50%;
        justify-content: center;
        align-items: center;
        mix-blend-mode: multiply;
        border: none;
    }
}